@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/aspect-ratio';
@plugin '@tailwindcss/typography';
@plugin 'tailwind-scrollbar' {
  nocompatible: true;
}

@theme {
  --font-*: initial;
  --font-sans:
    'Inter Var', Inter, ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    'Jetbrains Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

#nprogress .bar {
    background: #171717 !important;
}

circle {
    animation: moveCircle 10s linear infinite;
}

@keyframes moveCircle {
    from {
        stroke-dashoffset: 100%;
    }

    to {
        stroke-dashoffset: 0%;
    }
}

.revert-tailwind {
    all: initial;
}

.revert-tailwind > * {
    all: revert;
}
