name: Deploy

on:
  push:
    branches:
      - main

concurrency: production

permissions: 
  contents: read
  deployments: write
  id-token: write

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/actions/setup

      - name: Build
        run: npm run build

      - name: Run type checking
        run: npm run typecheck

      - name: Run linting
        run: npm run lint

      - name: Run tests
        run: npm run test

  deploy:
    runs-on: ubuntu-latest
    environment: production
    env:
      SST_PRINT_LOGS: 1
      SST_STAGE: production
    needs:
      - validate
    steps:
      - name: Git clone the repository
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/actions/setup

      - name: Deploy
        uses: ./.github/actions/deploy
        with:
          aws-role: ${{ secrets.GH_TRUST_ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}
          jwt-secret: ${{ secrets.JWT_SECRET }}
        env:
          ALLOW_DUPLICATE_PROJECT_IDENTITIES: ${{ secrets.ALLOW_DUPLICATE_PROJECT_IDENTITIES }}
          APP_URL: ${{ secrets.APP_URL }}
          DEFAULT_EMAIL: ${{ secrets.DEFAULT_EMAIL }}
          DISABLE_SIGNUPS: ${{ secrets.DISABLE_SIGNUPS }}
          LOG_LEVEL: ${{ secrets.LOG_LEVEL }}
          METRICS_ENABLED: true
